.app{
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #1A1B21;

    *{
        color: #DCDCDC;
    }
}
