.button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;

    &.linkedin{
        background-color: #0077b5;
        color: #fff;
    }

    &.github{
        background-color: #000;
        color: #fff;
    }

    &.email{
        background-color: #a50d0d;
        color: #fff;
    }

    a{
        text-decoration: none;
        color: inherit;
    }
}